/*****************************************************************************
 * ValidatedTextField
 *****************************************************************************/

/* Invalid value. */
.v-validatedtextfield-focus.invalid,
.v-validatedtextfield.invalid,
.v-textarea-focus.invalid,
.v-textarea.invalid {
	    background: #ff8080;
}

/* Focus and valid value. */
.v-validatedtextfield-focus.valid,
.v-textarea-focus.valid {
    background: #ffffc0;
}

/* Out of focus and partially valid value. */
.v-validatedtextfield.partial,
.v-textarea.partial {
    background: #ff8080; /* An error situation. */
}

/* Focus and partially valid value.      */
/* Must be after the out-of-focus style. */
.v-validatedtextfield-focus.partial,
.v-textarea-focus.partial {
    background: #ffd0d0;
}

.v-validatedtextfield-errormessage {
	color: red;
}

input.v-validatedtextfield-prompt {
  color:#999999;
  font-style:normal;
}

/*****************************************************************************
 * JavaScriptEditor
 *****************************************************************************/

/* Editor field cell alignment. */ 
.v-javascripteditor tr {
	vertical-align: top;
}
