<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout spacing width="1150px" height-full margin> 
   <vaadin-horizontal-layout spacing _id="horizontalCabeza"> 
    <vaadin-button plain-text _id="nuevoComprobante">
      Nuevo 
    </vaadin-button> 
   </vaadin-horizontal-layout> 
   <vaadin-grid caption="Operaciones de Caja" editor-save-caption="Guardar" editor-cancel-caption="Anular" width="1120px" height-full editable _id="gridCaja" :expand></vaadin-grid> 
  </vaadin-vertical-layout>  
 </body>
</html>