<!doctype html>
<html>
 <head>
  <meta charset="UTF-8" name="design-properties" content="{&quot;RULERS_VISIBLE&quot;:true,&quot;GUIDELINES_VISIBLE&quot;:false,&quot;SNAP_TO_OBJECTS&quot;:true,&quot;SNAP_TO_GRID&quot;:true,&quot;SNAPPING_DISTANCE&quot;:10,&quot;JAVA_SOURCES_ROOT&quot;:&quot;src/main/java&quot;,&quot;THEME&quot;:&quot;mytheme&quot;}">
 </head> 
 <body> 
  <vaadin-vertical-layout description="---" spacing size-full margin> 
   <vaadin-vertical-layout width="1024px" _id="editarComprobante"> 
    <vaadin-horizontal-layout spacing width="1024px" margin _id="horizontalProyectoTercero" :middle :center> 
     <vaadin-combo-box caption="Proyecto" item-caption-mode="id" _id="selProyecto"> 
      <option>Option 1</option> 
      <option>Option 2</option> 
     </vaadin-combo-box> 
     <vaadin-combo-box caption="Tercero" item-caption-mode="id" _id="selTercero"> 
      <option>Option 1</option> 
      <option>Option 2</option> 
     </vaadin-combo-box> 
     <vaadin-text-field caption="Nombre" enabled="false" width-full _id="nombreTercero" :expand></vaadin-text-field> 
     <vaadin-text-field caption="S/." enabled="false" width="60px" _id="saldoProyPEN"></vaadin-text-field> 
     <vaadin-text-field caption="$" enabled="false" width="60px" _id="saldoProyUSD"></vaadin-text-field> 
     <vaadin-text-field caption="€" enabled="false" width="60px" _id="saldoProyEUR"></vaadin-text-field> 
    </vaadin-horizontal-layout> 
    <vaadin-vertical-layout caption="Detalles" spacing size-full margin _id="verticalDetalles"> 
     <vaadin-horizontal-layout spacing width="742px" _id="horizontalMonedaCaja"> 
      <vaadin-option-group item-caption-mode="id" width="94px" height="37px" _id="selMoneda"> 
       <option>Soles</option> 
       <option>Dolares</option> 
      </vaadin-option-group> 
      <vaadin-combo-box caption="Caja" item-caption-mode="id" _id="selCaja"> 
       <option>Option 1</option> 
       <option>Option 2</option> 
      </vaadin-combo-box> 
      <vaadin-text-field caption="Caja S/." enabled="false" width="60px" _id="saldoCajaPEN"></vaadin-text-field> 
      <vaadin-text-field caption="Caja $" enabled="false" width="60px" _id="saldoCajaUSD"></vaadin-text-field> 
     </vaadin-horizontal-layout> 
     <vaadin-horizontal-layout spacing width="468px" _id="horizontalFechaVoucher"> 
      <vaadin-popup-date-field description="Fecha" _id="dataFechaComprobante"></vaadin-popup-date-field> 
      <vaadin-text-field description="Num de Voucher" enabled="false" _id="numVoucher"></vaadin-text-field> 
     </vaadin-horizontal-layout> 
     <vaadin-horizontal-layout spacing width="1024px" _id="horizontalIngresoGlosa"> 
      <vaadin-text-field caption="Ingreso" _id="ingreso"></vaadin-text-field> 
      <vaadin-text-field caption="Egreso" _id="egreso"></vaadin-text-field> 
      <vaadin-text-field caption="Glosa" width-full _id="glosa" :expand></vaadin-text-field> 
     </vaadin-horizontal-layout> 
     <vaadin-horizontal-layout spacing width="548px" _id="horizontalIngresoGlosa2"> 
      <vaadin-combo-box caption="Responsable" item-caption-mode="id" _id="selResponsable"> 
       <option>Option 1</option> 
       <option>Option 2</option> 
      </vaadin-combo-box> 
      <vaadin-combo-box caption="Lugar de gasto" item-caption-mode="id" _id="selLugarGasto"> 
       <option>Option 1</option> 
       <option>Option 2</option> 
      </vaadin-combo-box> 
     </vaadin-horizontal-layout> 
     <vaadin-vertical-layout caption="Documento" size-full _id="verticalDocumento"> 
      <vaadin-horizontal-layout spacing width="1011px" _id="horizontalFechaVoucher2"> 
       <vaadin-combo-box caption="Cod. Auxiliar" item-caption-mode="id" _id="selCodAuxiliar"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
       <vaadin-combo-box caption="Tipo de Doc" item-caption-mode="id" _id="selTipoDoc"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
       <vaadin-text-field caption="Serie" _id="serieDoc"></vaadin-text-field> 
       <vaadin-text-field caption="Nr Doc" _id="numDoc"></vaadin-text-field> 
       <vaadin-popup-date-field caption="Fecha Doc" _id="fechaDoc"></vaadin-popup-date-field> 
      </vaadin-horizontal-layout> 
      <vaadin-horizontal-layout spacing width="1024px" _id="horizontalIngresoGlosa3"> 
       <vaadin-combo-box caption="Tipo de movimiento" item-caption-mode="id" _id="selTipoMov"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
       <vaadin-combo-box caption="Cta contable" item-caption-mode="id" _id="selCtaContable"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
       <vaadin-combo-box caption="Rubro inst" item-caption-mode="id" _id="selRubroInst"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
       <vaadin-combo-box caption="Rubro proy." item-caption-mode="id" _id="selRubroProy"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
       <vaadin-combo-box caption="Fuente" item-caption-mode="id" _id="selFuente"> 
        <option>Option 1</option> 
        <option>Option 2</option> 
       </vaadin-combo-box> 
      </vaadin-horizontal-layout> 
     </vaadin-vertical-layout> 
    </vaadin-vertical-layout> 
    <vaadin-vertical-layout size-auto _id="verticalButtons" :middle :center> 
     <vaadin-horizontal-layout spacing _id="horizontalButtons" :middle :center> 
      <vaadin-button plain-text _id="anularBtn">
        Anular 
      </vaadin-button> 
      <vaadin-button plain-text _id="guardarBtn">
        Guardar 
      </vaadin-button> 
     </vaadin-horizontal-layout> 
    </vaadin-vertical-layout> 
   </vaadin-vertical-layout> 
  </vaadin-vertical-layout>  
 </body>
</html>